@model ProjeYonetim.Models.Proje
@{
    ViewData["Title"] = "Projeler";
}

<div style="height:100px"></div>
<form method="post">
    <input type="hidden" asp-for="Id">
  <div class="form-group">
    <label for="exampleInputEmail1">Adı</label>
    <input class="form-control" asp-for="Adi">
  </div>

  <div class="d-flex justify-content-between">
  <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">Geri Dön</a>
  <button type="submit" class="btn btn-success">Kaydet</button>
  </div>
</form>