@model List<ProjeYonetim.Models.Proje>
@{
    ViewData["Title"] = "Projeler";
}



<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Projeler</li>
  </ol>
</nav>

<div class="d-flex justify-content-end">
    @Html.ActionLink("Yeni Proje","AddProje","Admin",null,new {@class="btn btn-info m-1"})
</div>
<table class="table">
    <thead class="table-primary">
        <tr class="text-center">
            <th>Proje Adı</th>
            <th>Aktif</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <th>@item.Adi</th>
                @if(item.Active){
                    <th><i class="fas fa-check-circle fa-lg" style="color:green"></i></th>
                } else{
                <th><i class="fas fa-times-circle fa-lg" style="color:red"></i></th>
                }
                <th><a asp-action="EditProje" asp-route-projeid="@item.Id" class="btn btn-warning m-1">Düzenle</a>
                <a asp-action="Modul" asp-route-projeid="@item.Id" class="btn btn-primary m-1">Listele</a></th>
            </tr>
        }
    </tbody>
</table>