@model List<ProjeYonetim.Models.Modul>
@{
    ViewData["Title"] = "Projeler";
}

<div style="height:100px"></div>
<div class="d-flex justify-content-end">
    @Html.ActionLink("Yeni Modul","AddProje","Admin",null,new {@class="btn btn-info m-1"})
</div>
<table class="table">
    <thead class="thead-light">
        <tr class="text-center">
            <th>Modul Adı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <th>@item.Adi</th>
                <th><a asp-action="ProjeEdit" asp-route-id="@item.Id" class="btn btn-warning m-1">Düzenle</a>
                <a asp-action="Modul" asp-route-id="@item.Id" class="btn btn-primary m-1">Listele</a></th>
            </tr>
        }
    </tbody>
</table>