<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjeYonetim</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/lib/toastr/toastr.min.css" />
    
</head>
<body>

 <partial name="_CookieConsentPartial" />
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img height="100" src="/lib/login/images/ABBlogo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a href="/Home/Logout" class="btn btn-outline-danger my-2 my-sm-0"><i class="fas fa-sign-out-alt"></i></a>
    </div>
  </div>
</nav>

    <div class="">
      @RenderBody()
    </div>


    <footer class="text-center bg-light col-12 p-2" style="bottom:0;position:fixed;max-height:150px">
      
        &copy; 2020 - <a href="http://www.agarthateknoloji.com.tr/" target="_blank"><img width="160" src="/images/Agartha.png"></a>
      
    </footer>

    
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
