<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjeYonetim</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/lib/toastr/toastr.min.css" />
    
</head>
<body>

 <partial name="_CookieConsentPartial" />

    <div class="">
      @RenderBody()
    </div>


    @* <footer class="text-center bg-light col-12" style="bottom:0;position:fixed;max-height:30px">
      <p>&copy; 2020 - Agartha Teknoloji</p>
    </footer> *@

    
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
