@model List<ProjeYonetim.Models.Modul>
@{
    ViewData["Title"] = "Modüller";
}
<div class="body-bg pr-1">
   <div class="mask pr-2"></div>

   <div class="row mr-0 mt-2">
     @foreach (var item in Model)
      {
         <div class="card col-lg-4 p-3" style="min-height:350px">
           <a asp-action="Rapor" asp-route-id="@item.Id" style="text-decoration:none">
             <div class="card-body text-center">
               <i class="fas fa-user fa-10x" style="color:white"></i>
             </div><br>
             <div class=" text-center">
               <span class="" style="font-size:xx-large;color:white">@item.Adi</span>
             </div>
           </a>
         </div>
      }
      
 </div>
 </div>