@model List<ProjeYonetim.Models.Modul>
@{
    ViewData["Title"] = "Modüller";
}
<div class="row mr-0">
   <div class="col-2">
      <div class="sidebar">
         <a class="active" href="#home">Home</a>
         <a href="#news">News</a>
         <a href="#contact">Contact</a>
         <a href="#about">About</a>
      </div>
   </div>
   <div class="col-9">
      <div class="content">
         <nav aria-label="breadcrumb" style="margin-top:30px">
            <ol class="breadcrumb">
               <li class="breadcrumb-item active" aria-current="page">Modüller</li>
            </ol>
         </nav>

         <div style="height:90px"></div>

         <div class="container">
            <div class="row mx-5">

               @for (int i = 0; i < Model.Count; i++) { var cls="col-sm-6" ; if(Model[i].Sira==0){ cls="col-sm-12" ; }
                  <div class="@cls my-3">
                  <a class="link_index" asp-action="Rapor" asp-route-id="@Model[i].Id">
                     <div class="card">
                        <div class="card-body">
                           <p class="card-text" style="  text-align: center">@Model[i].Adi</p>
                        </div>
                     </div>
                  </a>
            </div>
            }

         </div>
      </div>
   </div>
</div>
</div>