@model List<ProjeYonetim.Models.Modul>
@{
    ViewData["Title"] = "Modüller";
}
<div class="body-bg">
   <div class="mask"></div>

   <div class="row mr-0 mt-2">

      @for(int i=0;i<4;i++){
         <div class="card col-lg-4 p-3" style="min-height:350px" >
            <a href="#" style="text-decoration:none">
  <div class="card-body text-center">
    <i class="fas fa-user fa-10x" style="color:white"></i>
  </div><br>
  <div class=" text-center">
    <span class="" style="font-size:xx-large;color:white">asdfasdafd</span>
  </div>
  </a>
</div>
      }
      
 </div>
 </div>