@model List<ProjeYonetim.Models.RaporTur>
@{
    ViewData["Title"] = "Raporlar";
}

<nav aria-label="breadcrumb" style="margin-top:30px">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Modüller</a></li>
    <li class="breadcrumb-item active" aria-current="page">Raporlar</li>
  </ol>
</nav>

<div style="height:90px"></div>

<div class="container">
<div class="row mx-5">

@for (int i = 0; i < Model.Count; i++)
{
    
    <div class="col-sm-12 my-3">
       <a href="#" class="link_index" data-toggle="modal" data-target=".bd-example-modal-lg" data-id="@Model[i].Id">
      <div class="card" >
      <div class="card-body">
      <p class="card-text" style="text-align: center">@Model[i].Adi</p>
      </div>
      </div>
      </a>
   </div>
}
  
</div>
</div>

<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title h4" id="modal_header">Raporlar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group" id="modal_body">
          <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          ...
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts{
  <script src="~/js/rapor.js"></script>
}