@model List<ProjeYonetim.Models.RaporTur>
@{
    ViewData["Title"] = "Raporlar";
}

<div class="body-bg">
   <div class="mask"></div>

@* <div style="height:90px"></div> *@

<div class="container">
<div class="row m-5">

@for (int i = 0; i < Model.Count; i++)
{
    
    <div class="col-sm-12 my-3">
       <a href="#" class="link_index text-decoration-none" data-toggle="modal" data-target=".bd-example-modal-lg" data-id="@Model[i].Id">
      <div class="card" >
      <div class="card-body">
      <p class="card-text text-light text-center" style="font-size:x-large">@Model[i].Adi</p>
      </div>
      </div>
      </a>
   </div>
}
  
  <div style="height:60px"></div>


</div>
</div>
<button type="button" class="btn btn-sm btn-info" data-toggle="popover" title="Popover title" data-content="22.01.2020">İnfo</button>
<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title h4" id="modal_header">Raporlar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group" id="modal_body">
          ...
        </ul>
      </div>
    </div>
  </div>
</div>



</div>
</div>
@section Scripts{
  <script src="~/js/rapor.js"></script>
}