@model List<ProjeYonetim.Models.Rapor>
@{
    ViewData["Title"] = "Raporlar";
}

<nav aria-label="breadcrumb" style="margin-top:30px">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Modüller</a></li>
    <li class="breadcrumb-item active" aria-current="page">Raporlar</li>
  </ol>
</nav>

<div style="height:90px"></div>

<div class="container">
<div class="row mx-5">

@for (int i = 0; i < Model.Count; i++)
{
    
    <div class="col-sm-12 my-3">
       <a class="link_index" href="/files/sample.pdf" target="blank">
      <div class="card" >
      <img class="card-img-top" src="" >
      <div class="card-body">
      <p class="card-text" style="  text-align: center">@Model[i].Adi</p>
      </div>
      </div>
      </a>
   </div>
}
  
</div>
</div>