/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.card {
    border: 1px solid #ffffff5e;
    background-color: #2525251a !important;
}


.card:hover {
    background-color: brown !important;
    z-index: 3;
}

.body-bg {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    position: absolute;
    height: 54rem;
    width: 100%;
    overflow-y: scroll;
}

.mask {
    position: absolute;
    height: 500%;
    width: 100%;
    background-color: #000000bd;
    
}

.body-bg::-webkit-scrollbar {
    width: 15px;
}
 
.body-bg::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.body-bg::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#008080; 
}
    
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}